/*
* Define all constants vars used in the CSS globally here. The name of the variable will end in -mt
* The space in the variable will be replaced by _
*/

$blue-mt :#005daa;
$red-mt : #dc291e;
$red_dark-mt : #af2118;